body{
    background-color: hsl(224, 23%, 55%);
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box{
    background-color: hsl(225, 100%, 94%);
    width: 450px;
    height: 700px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/*--------------------IMG--------------------*/

.center-box .img{
    width: 450px;
    height: 220px;
}

.center-box .img svg{
    border-radius: 20px 20px 0 0;
    width: 450px;
    height: 220px;
}

/*--------------------Desc--------------------*/

.center-box .title-sub{
    /*background-color: aquamarine;*/
    width: 450px;
    height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: -20px 0 0 0;
}

.center-box .title-sub h1{
    font-family: Red Hat Display;
    font-weight: 900;
    margin: 60px 0 0 0;
}

.center-box .title-sub p{
    font-family: Red Hat Display;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
}

/*--------------------Plan--------------------*/

.center-box .plan{
    /*background-color: darkslateblue;*/
    width: 450px;
    height: 130px;
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box .plan .box{
    background-color: hsl(225, 100%, 98%);
    width: 380px;
    height: 100px;
    border-radius: 15px;
    display: flex;
    align-items: center;
}

/*----------Icon-Music----------*/

.center-box .plan .box .music-ico{
    /*background-color: rgba(255, 153, 0, 0.4);*/
    width: 126px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*----------Desc----------*/

.center-box .plan .box .desc{
    /*background-color: rgba(165, 42, 42, 0.4);*/
    width: 156px;
    height: 100px;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.center-box .plan .box .desc h4{
    font-family: Red Hat Display;
    font-weight: 900;
    margin: 0;
    padding: 30px 0 0 0;
}

.center-box .plan .box .desc p{
    font-family: Red Hat Display;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
    margin: 0;
}

/*----------Link----------*/

.center-box .plan .box .link{
    /*background-color: rgba(255, 127, 80, 0.4);*/
    width: 106px;
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box .plan .box .link ul{
    margin: 0;
    padding: 0;
}

.center-box .plan .box .link ul li{
    list-style: none;
    margin: 0;
}

.center-box .plan .box .link ul li a{
    font-family: Red Hat Display;
    font-weight: 700;
    color: hsl(245, 75%, 52%);
}

/*--------------------Buttons-Order-------------------*/

.center-box .buttons-order{
    /*background-color: rgba(153, 50, 204, 0.4);*/
    width: 450px;
    height: 120px;
    margin: 5px 0 0 0;
    display: flex;
    flex-direction: column;
}

/*----------Payment-Button----------*/

.center-box .buttons-order .payment{
    /*background-color: rgba(127, 255, 212, 0.4);*/
    width: 450px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

.center-box .buttons-order .payment button{
    width: 320px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-family: Red Hat Display;
    font-weight: 900;
    font-size: 16px;
    box-shadow: 0 10px 8px hsl(245, 75%, 52%, 0.2);
}

/*----------Cancel-Button----------*/

.center-box .buttons-order .cancel{
    /*background-color: rgba(0, 0, 255, 0.4);*/
    width: 450px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-box .buttons-order .cancel button{
    background-color: rgba(0, 0, 0, 0);
    width: 320px;
    height: 50px;
    border: none;
    font-family: Red Hat Display;
    font-weight: 900;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
}